@mixin circle($size) {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: $size - 4px;
  height: $size - 4px;
  margin-top: -0.5 * ($size - 4px);
  margin-left: -0.5 * ($size - 4px);
  border-radius: 50%;
}
