{
  "extends": "react-app",
  "rules": {
    "no-mixed-operators": [
      "warn",
      {
        "groups": [
          ['&', '|', '^', '~', '<<', '>>', '>>>'],
          ['==', '!=', '===', '!==', '>', '>=', '<', '<='],
          ['in', 'instanceof']
        ],
        "allowSamePrecedence": true
      }
    ]
  }
}
