.enter {
  opacity: 0;
  transform: translate3d(0, -100%, 0);
  transition: 0.25s ease;
}
.enter.enterActive {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.exit {
  transform: translate3d(0, 0, 0);
  transition: 0.25s ease;
}
.exit.exitActive {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
}
