@import "../variables";

.root {
    position: relative;
    /* background: linear-gradient(to bottom, rgba(255,255,255,0) 50%,rgba(0,0,0,0.05) 100%); */
}

.row {
    padding: 0;
    margin: 0;

    &:first-child {
        text-align: right;

        li {
            position: relative;
            z-index: 1;
            background-color: #FFF;
        }
    }
    &:nth-child(2) {
        /* nothing */
    }
    &.partial {
        &:first-child {
            li {
                &:first-child {
                    /* border-left: 1px solid $borderColor; */
                }
            }
        }
        &:last-child {
            li {
                position: relative;
                z-index: 1;
            }
        }
    }
}

.label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    font-size: 30px;
    font-weight: 500;
    z-index: 3;
    pointer-events: none;

    background-color: rgba(255,255,255,0.6);

    opacity: 0;
    transition: opacity 0.3s ease;

    > span {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: $rowHeight;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    &.partialFirstRow {
        top: $rowHeight;
    }
}
