@import "../variables";

.root {
    border-style: solid;
    border-width: 1px;
    border-color: #ADADAD;

    background-color: $weekBackground;

    display: inline-flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 1 / 8 * 100%;
    
    cursor: pointer;
    user-select: none;

    font-size: 11px;
    text-align: center;
}

.weekItem {
    z-index: 3;
    position: relative;
}

.weekSelected {
    background-color: $selectedWeekBackground;
    color: white;
}