@import "../variables";

.root {
/*     border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #ADADAD; */
    /* Rectangle 17 Copy 18: */
    background: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-left: none;
    border-bottom:none;
    display: inline-flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 1 / 8 * 100%;
    
    cursor: pointer;
    user-select: none;
    list-style: none;

/*     font-size: 12px; */
    text-align: center;

    z-index: 3;

    position: relative;
/*     top: -1px;
    margin-top: -1px; */
    height: 40px;
    overflow: hidden;
    line-height: 40px;
    float:left;
    height:40px;
}

.weekItem {
    font-family:"Hind-Regular";
    font-size:15px;
    line-height:15px;
    z-index: 3;
    position: relative;
}

.weekSelected {
    color: #fff;

    >.weekDistance {
        color: #fff;
    }
}

.weekNumber {
    bottom: -3px;
}

.weekDistance {
    bottom: -1px;
    font-family: "Hind-Regular";
    font-size:15px;

    line-height:15px;
    color: #FF466E;
}