@import "../variables";

.root {
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #ADADAD;

    display: inline-flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 1 / 8 * 100%;
    
    cursor: pointer;
    user-select: none;
    list-style: none;

    font-size: 12px;
    text-align: center;

    z-index: 3;

    position: relative;
    top: -1px;
    margin-top: -1px;
    height: 40px;

    overflow: hidden;
}

.weekItem {
    z-index: 3;
    position: relative;
}

.weekSelected {
    color: white;
}

.weekNumber {
    bottom: 5px;
}

.weekDistance {
    bottom: 14px;
    color: #8C8C8C;
}