@import "../variables";

@mixin circle() {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: $rowHeight - 4px;
    height: $rowHeight - 4px;

    margin-top: -0.5 * ($rowHeight - 4px);
    margin-left: -0.5 * ($rowHeight - 4px);
    border-radius: 50%;
    background-color: $todayColor;
}

.root {
    /* top:-1px; */
/*     border-bottom: none;
    border-top: 1px solid #FFF; */
    display: inline-block;
    box-sizing: border-box;
    width: 1 / 8 * 100%;
    height:40px;
    list-style: none;
    font-family:"Hind-Regular";
    font-size: 20px;
    text-align: center;
    color:#646464;

    cursor: pointer;
    user-select: none;

    /* &.enabled {
        &.highlighted, &:active, &:hover {
            position: relative;
            z-index: 1;

            &:before {
                @include circle();

                background-color: #EFEFEF;
                z-index: 1;
            }
        }

        &:hover:before {
            opacity: 0.5;
        }
        &.highlighted:before, &:active:before {
            opacity: 1;
        }
    } */

    &:first-child {
        position: relative;
    }

     &.today {
        position: relative;
        z-index: 2;
        color: white;

        &:before {
            @include circle();
            z-index: -1;
        }
    } 
    &.selected {
        position: relative;

        > .month, > .year {
            display: none;
        }
        
        &:before {
            display: none;
        }

        .selection {
            @include circle();
            line-height: $rowHeight;
            z-index: 2;
            background: #FF466E;

            /*&.today {
                box-shadow: inset 0 0 0 2px $todayColor;
            } */

            .month {
                top: 5px;
                font-size: 11px;
            }
            .day {
                position: relative;
                top: 5px;

                font-weight: bold;
                font-size: 14px;
            }
            .dayHiddenText {
                position: relative;
                top: 0px;

                font-weight: bold;
                font-size: 17px;
            }
        }
    }
    &.disabled {
        cursor: default;
        color: #AAA;
        cursor: not-allowed;
    }
    &.weekend {
        color: #D7D7D7;
    }
    &.past {
        color: #AAA;
    }
    &.weekSelected {
        color: #fff;
    }
}

.month, .year {
    position: absolute;
    left: 0;
    right: 0;

    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
}

.month {
    top: 2px;
}
.year {
    bottom: 5px;
}
.weekSelected {
    color: white;

    /* .weekSelected {
        color:#fff;
        font-family: "Hind-Regular";
        opacity: 0.5;
    } */
}
