.root {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F9F9F9;

  &:before, &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 100px;
    pointer-events: none;
    z-index: 1;
  }
  &:before {
    top: 0;
    background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0) 100%);
  }
  &:after {
    bottom: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
  }
}

.list {
  box-sizing: border-box;

  &.center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.year {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;

  > span {
    color: #666;
  }

  &:hover, &.active {
    > span {
        color: inherit;
    }
  }
  &:hover, &.active {
    position: relative;
    z-index: 2;
  }
  &.active {
    font-size: 32px;
  }
  &.currentYear {
    position: relative;

    > span {
      min-width: 50px;
      padding-bottom: 5px;
      border-bottom: 3px solid;
    }

    &.active {
      > span {
        padding-bottom: 10px;
        min-width: 85px;
      }
    }
  }
}
