@import "../variables";

.root {
    position: relative;
    z-index: 5;

    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;

    box-shadow: 0px 1px  5px grey;
}

.day {
    padding: 2px 0;
    flex-basis: 1 / 8 * 100%;
    flex-grow: 1;
    font-weight: 500;
    text-align: center;
}

.today {
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    border-color: #ADADAD;
    background-color: #DEDEDE;
    color: $todayColor;

    cursor: pointer;
}