@font-face{
  font-family: "Hind-Bold";
  src: url('./fonts/Hind-Bold.ttf');
}
@font-face{
  font-family: "Hind-Regular";
  src: url('./fonts/Hind-Regular.ttf');
}
@font-face{
  font-family: "Hind-Medium";
  src: url('./fonts/Hind-Medium.ttf');
}