@font-face{
  font-family: "Hind-Bold";
  src: asset-url('./fonts/Hind-Bold.ttf') format('truetype');
}
@font-face{
  font-family: "Hind-Regular";
  src: asset-url('./fonts/Hind-Regular.ttf')  format('truetype');
}
@font-face{
  font-family: "Hind-Medium";
  src: asset-url('./fonts/Hind-Medium.ttf') format('truetype');
}