@import "../variables";
.root {
    background: #F5F5F5;
    position: relative;
    z-index: 5;
    text-align: center;
    list-style: none;
    display: flex;
    justify-content:space-around;
    margin:0;
    padding:0;
    padding-top:2px !important;
    padding-bottom:4px !important;
}

.shortcut {
    height:32px;
    width: 32px;
/*     flex-grow: 1; */    

}
.shortcut span {
    display:inline-block;
    background:#fff;
    border-radius: 100px;
    border: 1px solid #EBEBEB;

    font-family:"Hind-Medium";
    cursor: pointer;
    text-align: center;
    line-height:33px;//$rowHeight;
    color: #535353;
    font-size:15px;
    font-weight: 400;
    height:32px;
    width: 32px;

}
.shortcut span:focus,.shortcut span:hover {
    background: #fcfcfc;

} 
.shortcut span:active {
    background: #f4f4f4;
}
.today {
    width:60px;
}
.today span {
    color: #675ff5;
    width:60px;
}
